
/* reset */
html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

/* link */
.nav-link {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 14px;
  color: rgb(191, 7, 133);
}

.nav-link :hover {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 14px;
  color: #00cafc;
}

/* images */
.img1 {
  height: 300px;
  width: auto;
}

.img2 {
  height: 600px;
  width: 700px;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

h2 {
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
}


